
%div(style="border:0px solid lightgray;float:left;padding-left:2px;") 
  <h3>Things to buy</h3>

  .tags
    -@tags.each do |tag|
      -num_items_to_buy_in_tag = tag.items.find_all_by_should_buy(1).count
      -if num_items_to_buy_in_tag > 0
        -max_items = 50
        -font_size = 10 + (num_items_to_buy_in_tag / 30.0 * 25).ceil
        -text = tag.name + " (" + num_items_to_buy_in_tag.to_s + ")"
        %a{ :href => '/tags/tobuy/' + tag.name, :style => 'font-size:' + font_size.to_s + 'px' }=text

  %br
  %br
  %form#ajax_form(method='post' action='/item/tobuy' style="margin-left:0px;padding-left:0px;" data-ajax="false")

    %table(style="margin-left:0px;padding-left:0px;")
      %tr
        %td
          %input#item_name(type='text' name='item_name')

      %tr
        %td(align="center")
          %input#add(type='submit' value="Add" data-inline="true" ) 

      %tr
        %td(align="center")
          #msg

%div(style="border:0px solid lightgray;float:left;margin-left:15px;") 
  %h3 Purchases
  %a{:href => '/item/buy'} Record buy  
  %br
  %br
  %a{:href => '/item/new'} Add item to master list 
