%title "Our Home"
%html
	%head
		%link{:type => 'text/css', :rel => 'stylesheet', :href => '/css/main.css'}	
		%link(href='http://fonts.googleapis.com/css?family=Droid+Sans|Ubuntu+Condensed|Imprima|Doppio+One|Open+Sans' rel='stylesheet' type='text/css')

	%body
		=yield
