!!! Mobile
%html
  %head
    %title Our Home
    %link{:type => 'text/css', :rel => 'stylesheet', :href => '/css/main.css'}	
    %link{:type => 'text/css', :rel => 'stylesheet', :href => '/css/jquery.mobile-1.1.0.min.css'}	
    %link{:type => 'text/css', :rel => 'stylesheet', :href => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/smoothness/jquery-ui.css'}
    %link(href='http://fonts.googleapis.com/css?family=Droid+Sans|Ubuntu+Condensed|Imprima|Doppio+One|Open+Sans' rel='stylesheet' type='text/css')

    %script(lang="javascript" src="/javascript/jquery-1.7.2.min.js")
    %script(lang="javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.12/jquery-ui.min.js")
    %script(lang="javascript" src="/javascript/custom-scripting.js")
    %script(lang="javascript" src="/javascript/jquery.mobile-1.1.0.min.js")


    :javascript
      $(document).ready(function() {
        $("#item_name").autocomplete( { source : '/item/search' });

        $("#ajax_form").submit(function(event) { 
          event.preventDefault();
          $.post($(this).attr('action'), $(this).serialize(), function(response) {
            $("#msg").html(response);
          });
        });
      });

  %body
  .header(data-role="navbar")
    %ul
      %li 
        %a(href='/')Home
      %li
        %a(href='/item/buy')Record Buy

  =yield
